.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.link{
    position: relative;
    text-decoration: none;
    color: #888888;
    background: linear-gradient(to bottom, transparent 50%, #df0073ff);
    background-size: 100% 200%;
    background-position: 0 50%;
    transition: background-position 0.3s ease;
}

.link:hover {
    background-position: 0 0;
    color: #df0073;
    /* color: #00FFFF;
    background-color: #FFFF00; */
}

.paper{
    position: relative;
    text-decoration: none;
    color: #df0073;
}

.artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.number-list{
    font-weight: bold;
    color: #df0073;
    margin-left: 12px;
    margin-right: 5px;
}