.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

/* .link{
    position: relative;
    text-decoration: none;
    color: #000000;
    background: linear-gradient(to bottom, 54%, #F7BD03);
    background-size: 100% 200%;
    background-position: 0 50%;
    transition: background-position 0.4s ease;
} */

.link {
    position: relative;
    text-decoration: none;
    color: #000000;
    background: linear-gradient(to top, #FFDD00 44%, transparent 30%);
    background-size: 100% 200%; 
    background-position: 0 50%;
    transition: background-position 0.4s ease;
}


.link:hover {
    background-position: 0 0;
    color: #000000;
    background-color: #FFDD00;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.paper{
    position: relative;
    text-decoration: none;
    color: #f7b203;
}

.paper:hover {
    background-position: 0 0;
    color: #000000;
    background-color: #FFDD00;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.number-list{
    font-weight: bold;
    color: #f7b203;
    margin-left: 12px;
    margin-right: 5px;
}