.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.link{
    position: relative;
    text-decoration: none;
    color: #9e9e9e;
    background: linear-gradient(to bottom, transparent 50%, #df0073ff);
    background-size: 100% 200%;
    background-position: 0 50%;
    transition: background-position 0.3s ease;
}

.link:hover {
    background-position: 0 0;
    color: #df0073;
}

.paper{
    position: relative;
    text-decoration: none;
    color: #df0073;
}