/* Register your custom font family and tell the browser where to find it. */

@font-face {
    font-family: 'Calibri';
    src: url('/fonts/calibri/calibri-regular.ttf') format('truetype'),
         url('/fonts/calibri/calibri-bold.ttf') format('truetype'),
         url('/fonts/calibri/calibri-italic.ttf') format('truetype'),
        url('/fonts/calibri/calibri-bold-italic.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }

html, body {
    font-family: 'Calibri', 'Carlito', sans-serif;
  }



.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.dm-serif-display-regular {
    font-family: 'Calibri', 'Carlito', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
    
.dm-serif-display-regular-italic {
    font-family: 'Calibri', 'Carlito', sans-serif;
    font-weight: 400;
    font-style: italic;
  }


.link {
    position: relative;
    color: #3b60d9;
    text-decoration: underline;
    text-decoration-style: dotted;
}


.link:hover {
    background-position: 0 0;
    color: #ffffff;
    background-color: #3b60d9;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.strong {
    color: #3b60d9;
}

.paper{
    position: relative;
    text-decoration: none;
    color: #3b60d9;
}

.paper:hover {
    background-position: 0 0;
    color: #ffffff;
    background-color: #3b60d9;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.number-list{
    /* font-weight: bold; */
    color: #3b60d9;
    background-color: #f2f2f2;
    padding: 0px 6px;
    border-radius: 4px;
    /* margin-left: 12px; */
    /* margin-right: 5px; */
    text-indent: 0;
}

.tag{
    /* font-weight: bold; */
    font-size: 0.9rem;
    background-color: #111;
    color: #fff;
    padding: 0px 6px;
    border-radius: 4px;
    width: fit-content;
}

span {
    display: inline-block
}