.horizontal-card{
    .horizontal-card-tag{
        background-color: var(--bg-color);
        padding: 2px 8px;
        border-radius: 2px;

    }
    .horizontal-card-tag:hover{
        background-color: #e5e5e5;
    }
    .horizontal-card-tag:active{
        background-color: #444;
        color: #fff;
    }

    // border: 1px solid #e5e5e5;
    // border-radius: 10px;
    // padding: 10px;
    // margin: 10px;

}