.horizontal-card{
    .horizontal-card-tag{
        background-color: #fff;
        color: #000;
        font-size: 1rem;
        padding: 2px 8px;
        border-radius: 2px;

    }
    .horizontal-card-tag:hover{
        background-color: #e5e5e5;
    }
    .horizontal-card-tag:active{
        background-color: #000;
        color: #fff;
    }
}