.horizontal-card{
    width: 100%;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    padding: 0.75rem 0.5rem;
    margin: 0.25rem 0;

    .horizontal-card-tag{
        background-color: var(--bg-color);
        padding: 2px 8px;
        border-radius: 4px;
        white-space: nowrap;
    }
    .horizontal-card-tag:hover{
        background-color: #e5e5e5;
    }
    .horizontal-card-tag:active{
        background-color: #444;
        color: #fff;
    }

}