.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltip-content {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    // margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltip-content::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
  }
  